<%= form_for(@tourney, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
  <% if @tourney.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tourney.errors.count, "error") %> prohibited this tourney from being saved:</h2>

      <ul>
      <% @tourney.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => "col-sm-3 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :title, :class => "form-control", :placeholder => "Amaze them with your Tourney Subject!" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :desc, :class => "col-sm-3 control-label" %>
    <div class="col-sm-4">
      <%= f.text_area :desc, :class => "form-control", :placeholder => "Amaze them even more!" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :tourney_type_id, :class => "col-sm-3 control-label" %>
    <div class="col-sm-4">
      <%= f.collection_select :tourney_type_id, TourneyType.all, :id, :tourney_name, {:include_blank => false} %>
    <%= f.hidden_field :user_id,:value=> current_user.id %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :start_date, :class => "col-sm-3 control-label" %>
    <div class="col-sm-4">
      <%= f.datetime_select :start_date, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :end_date, :class => "col-sm-3 control-label" %>
    <div class="col-sm-4">
      <%= f.datetime_select :end_date, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :venue_id, :class => "col-sm-3 control-label" %>
    <div class="col-sm-4">
      <%= f.text_area :venue_id, :class => "form-control", :placeholder => "" %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :game_type_id, :class => "col-sm-3 control-label" %>
    <div class="col-md-4">
      <%# f.collection_select :game_type_id, GameType.all, :id, :name, {:include_blank => false} %>
      <%= f.select :game_type_id, GameType.all.map{ |c| [c.name, "#{c.id}"] } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :game_id, :class => "col-sm-3 control-label" %>
    <div class="col-md-4">
      <%# f.collection_select :game_id, Game.all, :id, :name,:game_type_id , {:include_blank => false} %>
      <%= f.select :game_id, Game.all.map{ |c| [c.name, "#{c.id}",{'game-type-id'=>c.game_type_id}] } %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <%= f.submit "Submit" ,:class => "btn btn-default" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
    $('#tourney_game_type_id').on('change', function(e){
      console.log('change');
      var iVal = $(this).val();
      var uiGameSelect = $('#tourney_game_id').val();
      if(typeof(uiGameSelect) !='undefined'){
        console.log( 'iVal = '+ iVal+ $('#tourney_game_id option[game-type-id="'+iVal+'"]').hide());
      }
    });
  });
</script