<section class="highlight-view">

  <div class="wrapper">

    <div class="row">
      <div class="col-sm-2">
        <div>
          <%= image_tag('SMMGrandFinalLogo.png' , :width => "150px") %>
        </div>

        <div>
          <%= link_to 'Edit', edit_tourney_path(@tourney) %> |
          <%= link_to 'Back', tourneys_path %>
        </div>
      </div>
      <div class="col-sm-5">
        <p id="notice"><%= notice %></p>
          <h1>
            <%= @tourney.title %>
          </h1>


        <%= @tourney.desc %>


        <p>
          <strong>Tourney type:</strong>
          <%= @tourney.tourney_type.tourney_name %>
        </p>

        <p>

          <strong>Start date:</strong>
          <%= @tourney.start_date.strftime("%B %d, %Y") %>

        </p>

        <p>
          <strong>End date:</strong>
          <%= @tourney.end_date.strftime("%B %d, %Y") %>
        </p>

        <p>
          <strong>User:</strong>
          <%= @tourney.user.first_name %> <%# @tourney.user.last_name %>
        </p>

        <p>
          <strong>Venue:</strong>
          <%# @tourney.venue %>
        </p>

        <p>
          <strong>Game type:</strong>
          <%= @tourney.game_type.name %>
        </p>

        <p>
          <strong>RSVP:</strong>
          <%# @tourney.rsvp_stats.status%>
        </p>

        <p>
          <button class="btn-success rvsp_btn" type="going">Going</button>
          <button class="btn-success rvsp_btn" type="maybe">Maybe</button>
          <button class="btn-success rvsp_btn" type="not">Not Going</button>

        </p>
      </div>
      <div class="col-sm-5">
      <br>
        <h3>Participants</h3>
        <ul>
          <% user_tourneys.each do |list| %>
            <li align="left">
              <%= list.user.first_name%> <%= list.user.last_name%> 
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>


<div class="wrapper">

  <div id="comment_box">
  </div>
    <div id="comment_reply_box">

      <div class="row comment">
        <div class="col-sm-2" style="margin-top: 0px;">
          <%= image_tag('sample.png' ,:width=> '100px') %>
        </div>

        <div class="col-sm-10">
          <h2>Meng David</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in justo et purus dignissim adipiscing ac vel erat. Aenean consectetur massa nunc, ac eleifend libero vehicula consectetur. Praesent at commodo quam. Curabitur vulputate pretium mauris, vitae sagittis neque varius vitae.
          </p>
        </div>
      </div>
    </div>

      <div class="row comment">
        <div class="col-sm-2" style="margin-top: 0px;">
          <%= image_tag('sample.png' ,:width=> '100px') %>
        </div>

        <div class="col-sm-10">
          <h2>Meng David</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in justo et purus dignissim adipiscing ac vel erat. Aenean consectetur massa nunc, ac eleifend libero vehicula consectetur. Praesent at commodo quam. Curabitur vulputate pretium mauris, vitae sagittis neque varius vitae.
          </p>
        </div>
      </div>

      <div class="row comment">
        <div class="col-sm-2" style="margin-top: 0px;">
          <%= image_tag('sample.png' ,:width=> '100px') %>
        </div>

        <div class="col-sm-10">
          <h2>Meng David</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in justo et purus dignissim adipiscing ac vel erat. Aenean consectetur massa nunc, ac eleifend libero vehicula consectetur. Praesent at commodo quam. Curabitur vulputate pretium mauris, vitae sagittis neque varius vitae.
          </p>
        </div>
      </div>
</div>


<script type="text/javascript">
    $(function(){

      $('.rvsp_btn').click(function(){
        var uiTarget = $(this);
        var sType = uiTarget.attr('type');

        if(typeof(sType) !='undefined'){
          $.ajax({
            type: 'POST',
            data: {
              'user_id' :'<%= current_user.id %>',
              'tourney_id' : '<%= params[:id] %>'
            },
            url: 'tourneys/rsvp',
            success: function(data){
              console.log(JSON.stringify(data));
              var oData = data,
                  sFname = oData.first_name,
                  sLast = oData.last_name,
                  iMobile = oData.contact;
              oData.full_name = sFname +' ' +sLast;
              oData.message = 'Thank you ' + oData.full_name;
              oData.mobile_number = oData.mobile_number;
              send_sms_notif(oData);
            }
          });
        }
      });



      
      function send_sms_notif(data){
        console.log(JSON.stringify(data));
        $.ajax({
          type: 'POST',
          url: 'https://post.chikka.com/smsapi/request',
          data: {
            'client_id' : '20979ad86da809c5aec43d96d18d603b7f75248d7bf57ae67101c972f57c8e02',
            'secret_key' : '698116eb37a7639365f9424b278d91fe4b2bba5781e8aea79785db2b1b095934',
            'shortcode' : '292908769',
            'message_id' : '12345678123456781234567812345678',
            'message' : 'test',
            'message_type' : 'SEND',
            'mobile_number' : '639265422258'
          },
          success : function(){
            window.location.reload()
          }
        });
      }
    }); 
</script>