<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tourney.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @tourney.desc %>
</p>

<p>
  <strong>Tourney type:</strong>
  <%= @tourney.tourney_type %>
</p>

<p>
  <strong>Tourney comment:</strong>
  <%= @tourney.tourney_comment %>
</p>

<p>
  <strong>Tourney comments:</strong>
  <%= @tourney.tourney_comments %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @tourney.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @tourney.end_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @tourney.user %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @tourney.venue %>
</p>

<p>
  <strong>Game type:</strong>
  <%= @tourney.game_type %>
</p>

<%= link_to 'Edit', edit_tourney_path(@tourney) %> |
<%= link_to 'Back', tourneys_path %>
