<div class="tourn-listing-casuals row">
<div class="col-sm-12 ">
		<span>
			<strong style="float: left;">
				<%= link_to newest_tourney_casuals.title, tourneys_path(newest_tourney_casuals.id) %>
			</strong>
		</span>
	</div>
	<br />
	<div class="col-sm-12 pull-right">
		<small style="float: left;">
			By: <a href="<%= users_dashboard_path(newest_tourney_casuals.user.id) %>">
			<%= newest_tourney_casuals.user.first_name%>
			<%= newest_tourney_casuals.user.last_name%>
			</a>
		</small>
	</div>
	<br />
	<div class="col-md-3 pull-left">
		<small>
			<%= time_ago_in_words(newest_tourney_casuals.created_at).gsub('about','') + ' ago' %>
		</small>
	</div>
	<div class="col-sm-12" align="right">
		<br />
			<small>
				Los Angeles City
			</small>
		</div>
</div>
