<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid wrapper">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--
      <a class="navbar-brand" href="#">Brand</a>
      -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a id="logo-btn" href="<%= root_path %>">
            <%= image_tag('tourney.png' ,:width => "100px") %>
          </a>
        </li>
        <li><a href="<%= tourneys_path %>">Tourneys</a></li>
        <li class="active"><a href="#">Link</a></li>

        <li><a href="#">Link</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
            <% if user_signed_in? %>
                    <li class="dropdown">
          <a href="#" class="dropdown-toggle" type="link" data-toggle="dropdown"><%= current_user.first_name %> 
            <span class="caret"></span>
          </a>
          <ul id="acct_dropdown" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><%= link_to "Account Settings", edit_user_registration_path, role: 'menuitem', tabindex: '-1'%>
              </li>
              <% if current_user.admin? %>
              <li role="presentation"><%= link_to "Admin", admin_path, role: 'menuitem', tabindex: '-1' %></li>
              <% end %>
              <li role="presentation"><%= link_to "Sign out", destroy_user_session_path, role: 'menuitem', tabindex: '-1' %>
              </li>
            </ul>
            <% else %>
              <li role="presentation"><%= link_to "Sign up", new_user_registration_path, role: 'menuitem', tabindex: '-1' %></a>
              </li>
              <li role="presentation"><%= link_to "Login", new_user_session_path, role: 'menuitem', tabindex: '-1' %>
              </li>
              <li role="presentation"><%#= link_to "Login via Facebook", user_omniauth_authorize_path(:facebook), role: 'menuitem', tabindex: '-1' %>
              </li>
           <% end -%>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!--
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid wrapper">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#baseapp-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to "Tourney", root_path, :class => "navbar-brand" %>
    </div>


    <div class="collapse navbar-collapse" id="baseapp-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to "Account settings", edit_user_registration_path %></li>
          <% if current_user.admin? %>
            <li><%= link_to "Admin", admin_path %></li>
          <% end %>
          <li><%= link_to "Sign out", destroy_user_session_path %></li>
        <% else %>
          
          <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
        <% end -%>
      </ul>
      <ul class="f-right">
        <li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        </li>
      </ul>
    </div>

  </div>
</nav>
-->